.pagination{
    position: relative;
    top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: max-content;
    display: flex;
    align-items: center;
    gap: 10px;
}
.pagination__container{
    position: relative;
    top: 8px;
    display: flex;
    gap: 5px;
}
.pagination__page,
.pagination__prev,
.pagination__next{
    cursor: pointer;
    width: 35px;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pagination__active{
    background-color: red;
    color: white;
    border-radius: 5px;
}